<div class="modal-content">
      <h4>Nova Ideia</h4>
      <%= render 'form', agency: @agency %>
</div>
<div class="modal-footer">
  <!--<a id="submit-idea" class="waves-effect waves-green orange btn-flat ">Salvar</a>-->
  <a href="#!" class=" modal-close waves-effect waves-green btn-flat ">Cancelar</a>
</div>