<h5>Nova Transação</h5>
<div class="modal-content">      
      <%= render 'form', transaction: @transaction %>
</div>
<div class="modal-footer">
  <!--<a id="submit-idea" class="waves-effect waves-green orange btn-flat ">Salvar</a>-->
  <a href="#!" class=" modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  <input type="submit" form="transaction" value="Salvar" class = "black-text waves-effect waves-green btn-flat">
</div>