<h5>Nova Conta</h5>
<div class="modal-content">
      <%= render 'form', account: @account %>
</div>
<div class="modal-footer">
  <!--<a id="submit-idea" class="waves-effect waves-green orange btn-flat ">Salvar</a>-->
  <a href="#!" class=" modal-close waves-effect waves-green btn-flat ">Cancelar</a>
  <input type="submit" form="account" value="Salvar" class = "black-text waves-effect waves-green btn-flat">
</div>